@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply antialiased;
    font-family: 'Inter', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
      Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      sans-serif;
    overflow-x: hidden;
    color: #0e0e0e;
    background: #fafafa;
    line-height: 130%;
  }
}

/* ::-moz-selection {
  color: black;
  background: #90caf9;
}

::selection {
  color: black;
  background: #90caf9;
} */
::-webkit-scrollbar-track {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background-color: transparent;
}
::-webkit-scrollbar {
  width: 4px !important;
  border-radius: 13px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  border-radius: 13px;
  background-color: rgba(46, 46, 46, 0.3);
  border: 2px solid #555555;
}

@media only screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }
}
@media (min-width: 1025px) and (max-width: 1350px) {
  .post-margin-right {
    margin-right: 1rem;
  }
}
@media (min-width: 1025px) and (max-width: 1350px) {
  .post-margin-left {
    margin-left: 1rem;
  }
}
@media (min-height: 0px) {
  .commonModal {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    height: -webkit-fill-available;
  }
}

@media (max-width: 512px) {
  .commonModal {
    padding-top: 0;
    padding-bottom: 0;
    height: -webkit-fill-available !important;
  }
}
@media (min-width: 512px) and (max-width: 1220px) {
  .commonModal {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

@media (min-height: 900px) {
  .commonModal {
    height: calc(14.16667rem + 35vw);
    min-height: 46.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (min-height: 1200px) {
  .commonModal {
    height: 50rem;
  }
}
#otp::-webkit-outer-spin-button,
#otp::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
#otp[type='number'] {
  -moz-appearance: textfield;
}
